# Python
__pycache__/
.idea/
*.pyc
venv/
.venv/
.env
.vscode
.ipynb
backend/logs/
backend/venv/
backend/data/existing_reports/
backend/data/uploaded_reports/
.EasyOCR/


# Node
node_modules/
dist/
*.log

# OS
.DS_Store
Thumbs.db
